
  @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');



body{
    font-family: 'Newsreader', serif;
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
    
}

.navbar-nav {
    display: flex;
    flex-direction: column;
}


nav .nav-link{
    font-size: 1rem;
}

/*Modal*/



  .modal-title{
    font-size: 1.5rem;
    background: linear-gradient(to right, #FFC3D5, #c018c0, #1a1ad9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  
   
  input{
      width: 100%;
      border-radius: 5px;
      
  }
  
  .close {
    color: #201f1f;
    display: flex;
    justify-content: end;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    background-color: #1a1ad9;
    text-decoration: none;
    cursor: pointer;
  }
  
  
.submitButton{
    color: white;
    border: 1px solid #FFC3D5;
    border-radius: 10px;
    background: linear-gradient(to right, #FFC3D5, #c018c0, #1a1ad9);
} 
  

header .showcase{
    font-size: 4.5rem;
}

.app-badge{
    height: 3rem;
}


.device{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sectionDevice{
    display: flex;
    justify-content: center;
    
}

.wallpaper{
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    
}

.pinksvg {
  position: absolute;
  right: 10%;
  top:10%
}

.sectionWallpaper{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    
}

.mobile {
    width: 250px;
    height: 470px;
    z-index: 1 !important;
}

aside{
    margin-top: 100px;
    height: 250px;
    background-image: linear-gradient(#FFC3D5, #1349b4);
}

section .icon-feature{
    font-size: 4rem;
    background: linear-gradient(to right, #FFC3D5, #1349b4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



section .btn{
    width: 200px
}


section .wrapper{
    height: 600px;
}

section .image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    
}

section .darkness{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgba(0,0,0,0.3)
}

 .content {
    height: 250px;
    background-image: linear-gradient(#FFC3D5, #1349b4);
}


footer{
    width: 100%;
    height: 150px;
}